<footer class="insurance-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5>SecureLife Insurance</h5>
        <p>Protecting your future with comprehensive insurance solutions since 1995.</p>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="col-md-3">
        <h6>Insurance Products</h6>
        <ul>
          <li><a href="#">Life Insurance</a></li>
          <li><a href="#">Health Insurance</a></li>
          <li><a href="#">Auto Insurance</a></li>
          <li><a href="#">Home Insurance</a></li>
          <li><a href="#">Travel Insurance</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6>Customer Service</h6>
        <ul>
          <li><a href="#">File a Claim</a></li>
          <li><a href="#">Policy Management</a></li>
          <li><a href="#">Payment Options</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Contact Support</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6>Contact Info</h6>
        <div class="contact-info">
          <p><i class="fas fa-phone"></i> 1-800-SECURE-1</p>
          <p><i class="fas fa-envelope"></i> info@securelife.com</p>
          <p><i class="fas fa-map-marker-alt"></i> 123 Insurance Ave<br>New York, NY 10001</p>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <p>&copy; {{ currentYear }} SecureLife Insurance. All rights reserved.</p>
      </div>
      <div class="col-md-6 text-end">
        <a href="#">Privacy Policy</a> | 
        <a href="#">Terms of Service</a> | 
        <a href="#">Accessibility</a>
      </div>
    </div>
  </div>
</footer>
